name: Build APK

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

     - name: Install Flet
        run: |
          pip install certifi
          pip install flet==0.80.5
          pip install flet-cli==0.80.5

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.7'
          channel: 'stable'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Accept Android Licenses
        run: yes | sdkmanager --licenses || true

      - name: Set Flutter & Android paths for Flet
        run: |
          echo "FLUTTER_ROOT=$FLUTTER_ROOT" >> $GITHUB_ENV
          echo "ANDROID_HOME=$ANDROID_HOME" >> $GITHUB_ENV
          echo "ANDROID_SDK_ROOT=$ANDROID_SDK_ROOT" >> $GITHUB_ENV

      - name: Build APK
        run: |
          flet build apk --no-rich-output
        env:
          CI: true
          FLUTTER_ROOT: ${{ env.FLUTTER_ROOT }}
          ANDROID_HOME: ${{ env.ANDROID_HOME }}

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: salary-app-apk
          path: build/apk/*.apk
